<!--carousel-section-->
<section class="gallery-section">
	<h2 class="hidden-gallery-title">Ice-cream's gallery</h2>
	<div class="gallery-container">
		<div class="container-wrapper">
			<div>
				<img srcset="
            ../src/images/gallery-section/mobile-1img.png  428w,
            ../src/images/gallery-section/tablet-1img.png  768w,
            ../src/images/gallery-section/desk-1img.png   1200w
          " src="../src/images/gallery-section/mobile-1img.png" alt="ice cream gallery" />
			</div>
			<div class="container-wrapper-img">
				<img srcset="
            ../src/images/gallery-section/mobile-2img.png  428w,
            ../src/images/gallery-section/tablet-2img.png  768w,
            ../src/images/gallery-section/desk-2img.png   1200w
          " src="../src/images/gallery-section/mobile-2img.png" alt="ice cream gallery" />
				<img srcset="
            ../src/images/gallery-section/mobile-3img.png  428w,
            ../src/images/gallery-section/tablet-3img.png  768w,
            ../src/images/gallery-section/desk-3img.png   1200w
          " src="../src/images/gallery-section/mobile-3img.png" alt="ice cream gallery" />
			</div>
			<div class="container-wrapper-img">
				<img class="img4" srcset="
            ../src/images/gallery-section/mobile-4img.png  428w,
            ../src/images/gallery-section/tablet-4img.png  768w,
            ../src/images/gallery-section/desk-4img.png   1200w
          " src="../src/images/gallery-section/mobile-4img.png" alt="ice cream gallery" />
				<img class="img5" srcset="
            ../src/images/gallery-section/mobile-5img.png  428w,
            ../src/images/gallery-section/tablet-5img.png  768w,
            ../src/images/gallery-section/desk-5img.png   1200w
          " src="../src/images/gallery-section/mobile-5img.png" alt="ice cream gallery" />
			</div>
			<div class="container-wrapper-img img-wrap-6">
				<img srcset="
            ../src/images/gallery-section/mobile-6img.png  428w,
            ../src/images/gallery-section/tablet-6img.png  768w,
            ../src/images/gallery-section/desk-6img.png   1200w
          " src="../src/images/gallery-section/mobile-6img.png" alt="ice cream gallery" />
				<img srcset="
            ../src/images/gallery-section/mobile-7img.png  428w,
            ../src/images/gallery-section/tablet-7img.png  768w,
            ../src/images/gallery-section/desk-7img.png   1200w
          " src="../src/images/gallery-section/mobile-7img.png" alt="ice cream gallery" />
			</div>
			<div class="container-wrapper-img img-wrap-8">
				<img srcset="
            ../src/images/gallery-section/mobile-8img.png  428w,
            ../src/images/gallery-section/tablet-8img.png  768w,
            ../src/images/gallery-section/desk-8img.png   1200w
          " src="../src/images/gallery-section/mobile-8img.png" alt="ice cream gallery" />
				<img srcset="
            ../src/images/gallery-section/mobile-9img.png  428w,
            ../src/images/gallery-section/tablet-9img.png  768w,
            ../src/images/gallery-section/desk-9img.png   1200w
          " src="../src/images/gallery-section/mobile-9img.png" alt="ice cream gallery" />
			</div>
			<div>
				<img srcset="
            ../src/images/gallery-section/mobile-10img.png  428w,
            ../src/images/gallery-section/tablet-10img.png  768w,
            ../src/images/gallery-section/desk-10img.png   1200w
          " src="../src/images/gallery-section/mobile-10img.png" alt="ice cream gallery" />
			</div>
		</div>
	</div>
	<div id="about-us" class="container-review">
		<input type="radio" name="slide" id="i1" checked />
		<input type="radio" name="slide" id="i2" />
		<input type="radio" name="slide" id="i3" />

		<div class="slide-img" id="one">
			<img src="../src/images/gallery-section/review-img/review1.png" alt="Alexandra" width="85" />
			<div class="slider-text">
				<svg class="apostrof-icon">
					<use href="../src/images/gallery-section/gallery-svg.svg#icon-apostrof"></use>
				</svg>
				<p class="text-review">
					I love visiting your cafe. You prepare the most delicious ice cream in
					Los Angeles! In addition, you have beautiful serving, cozy atmosphere
					and polite staff.
				</p>
			</div>
			<svg class="group-eclipse-icon">
				<use href="../src/images/gallery-section/gallery-svg.svg#icon-group-eclipse"></use>
			</svg>
			<h3 class="name-review">Alexandra, Cluj</h3>
			<div class="dots-icon">
				<label class="dots" for="i1"><svg class="ellipse-icon">
						<use href="../src/images/gallery-section/gallery-svg.svg#icon-home"></use>
					</svg></label>
				<label class="dots" for="i2"><svg class="home-icon">
						<use href="../src/images/gallery-section/gallery-svg.svg#icon-ellipse7"></use>
					</svg></label>
				<label class="dots" for="i3"><svg class="home-icon">
						<use href="../src/images/gallery-section/gallery-svg.svg#icon-ellipse7"></use>
					</svg></label>
			</div>

			<label for="i3" class="pre"></label>
			<label for="i2" class="nxt"></label>
		</div>
		<div class="slide-img" id="two">
			<img src="../src/images/gallery-section/review-img/review2.png" alt="Alexandra" width="85" />
			<div class="slider-text">
				<svg class="apostrof-icon">
					<use href="../src/images/gallery-section/gallery-svg.svg#icon-apostrof"></use>
				</svg>
				<p class="text-review">
					Tantas adipisci an usu, at causae cotidieque his. Quo porro falli
					mazim ut. Eos ea habemus luptatum suscipiantur, equidem definitiones
					eu vix.
				</p>
			</div>
			<svg class="group-eclipse-icon">
				<use href="../src/images/gallery-section/gallery-svg.svg#icon-group-eclipse"></use>
			</svg>
			<h3 class="name-review">Emma, Brasov</h3>
			<div class="dots-icon">
				<label class="dots" for="i1"><svg class="ellipse-icon">
						<use href="../src/images/gallery-section/gallery-svg.svg#icon-ellipse7"></use>
					</svg></label>
				<label class="dots" for="i2"><svg class="home-icon">
						<use href="../src/images/gallery-section/gallery-svg.svg#icon-home"></use>
					</svg></label>
				<label class="dots" for="i3"><svg class="home-icon">
						<use href="../src/images/gallery-section/gallery-svg.svg#icon-ellipse7"></use>
					</svg></label>
			</div>

			<label for="i1" class="pre"></label>
			<label for="i3" class="nxt"></label>
		</div>
		<div class="slide-img" id="three">
			<img src="../src/images/gallery-section/review-img/review3.png" alt="Alexandra" width="85" />
			<div class="slider-text">
				<svg class="apostrof-icon">
					<use href="../src/images/gallery-section/gallery-svg.svg#icon-apostrof"></use>
				</svg>
				<p class="text-review">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
					animi non fuga aperiam sit inventore eveniet delectus expedita,
					repudiandae eum soluta.
				</p>
			</div>
			<svg class="group-eclipse-icon">
				<use href="../src/images/gallery-section/gallery-svg.svg#icon-group-eclipse"></use>
			</svg>
			<h3 class="name-review">Sofia, Chisinau</h3>
			<div class="dots-icon">
				<label class="dots" for="i1"><svg class="ellipse-icon">
						<use href="../src/images/gallery-section/gallery-svg.svg#icon-ellipse7"></use>
					</svg></label>
				<label class="dots" for="i2"><svg class="home-icon">
						<use href="../src/images/gallery-section/gallery-svg.svg#icon-ellipse7"></use>
					</svg></label>
				<label class="dots" for="i3"><svg class="home-icon">
						<use href="../src/images/gallery-section/gallery-svg.svg#icon-home"></use>
					</svg></label>
			</div>
			<label for="i2" class="pre"></label>
			<label for="i1" class="nxt"></label>
		</div>
	</div>
</section>