<header>
  <div class="container-header">
    <div class="header-section tablet">
      <div class="logo-header">
        <a href="#">
          <svg>
            <use href="./icons.svg#icon-logo"></use>
          </svg>
        </a>
      </div>
      <div class="nav-tablet-and-btn">
        <div class="menu-button js-open-menu">
          <svg>
            <use href="./icons.svg#icon-burger"></use>
          </svg>
        </div>
        <button type="button" class="buy-btn-tablet">
          Buy now
          <svg>
            <use href="./icons.svg#icon-btn-svg"></use>
          </svg>
        </button>
      </div>
      <div class="js-menu-container">
        <svg class="menu-toggle js-close-menu">
          <use href="./icons.svg#icon-close"></use>
        </svg>
        <nav class="menu-drawer-navigation">
          <button type="button" class="buy-btn">
            Buy now
            <svg>
              <use href="./icons.svg#icon-btn-svg"></use>
            </svg>
          </button>
          <ul>
            <li class="current-nav">
              <a href="#">Home</a>
            </li>
            <li>
              <a href="#about-us">About us</a>
            </li>
            <li>
              <a href="#how-its-made">How it's made?</a>
            </li>
            <li>
              <a href="#our-products">Our products</a>
            </li>
            <li>
              <a href="#contacts">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="header-section-desktop">
      <div class="logo-header">
        <a href="#">
          <svg>
            <use href="./icons.svg#icon-logo"></use>
          </svg>
        </a>
      </div>
      <div class="menu-desktop">
        <ul>
          <li class="current-nav">
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#about-us">About us</a>
          </li>
          <li>
            <a href="#how-its-made">How it's made?</a>
          </li>
          <li>
            <a href="#our-products">Our products</a>
          </li>
          <li>
            <a href="#contacts">Contact</a>
          </li>
        </ul>
      </div>
      <button type="button" class="buy-btn-tablet">
        Buy now
        <svg>
          <use href="./icons.svg#icon-btn-svg"></use>
        </svg>
      </button>
    </div>
    <!--Banner-section-->
    <section class="banner-container">
      <div class="background-wrap">
        <div class="bubble x1"></div>
        <div class="bubble x2"></div>
        <div class="bubble x3"></div>
        <div class="bubble x4"></div>
        <div class="bubble x5"></div>
        <div class="bubble x6"></div>
        <div class="bubble x7"></div>
        <div class="bubble x8"></div>
        <div class="bubble x9"></div>
        <div class="bubble x10"></div>
      </div>
      <div class="banner-section">
        <div class="title-banner-btns">
          <h1 class="title-banner">
            ice cream <br />made with <br />
            <span>passion</span>
          </h1>
          <div class="btns-banner">
            <button type="button" class="products-btn">Products</button>
            <button type="button" class="made-btn">How it's made</button>
          </div>

          <div class="milk-with-article">
            <div class="splash-milk">
              <img src="./images/splash-milk.png" alt="splash-milk" />
            </div>
            <div class="article-banner">
              <p>
                Indulge in a scoop of ice cream made with passion and treat your
                taste buds to an unforgettable experience!
              </p>
            </div>
          </div>
        </div>
        <div class="ice-cream-banner">
          <img src="./images/ice-cream-background.png" alt="ice-cream-background" class="ice-cream-img" />
        </div>
        <div class="splash-milk">
          <img src="./images/splash-milk.png" alt="splash-milk" />
        </div>
        <div class="article-banner">
          <p>
            Indulge in a scoop of ice cream made with passion and treat your
            taste buds to an unforgettable experience!
          </p>
        </div>
        <div class="tasty-reaction">
          <img src="./images/tasty-reaction.png" alt="tasty-reaction" />
        </div>
      </div>
      <div class="banner-section-tablet">
        <div class="first-list-banner">
          <div class="title-banner-btns">
            <h1 class="title-banner">
              ice cream <br />made with <br />
              <span>passion</span>
            </h1>
            <div class="btns-banner">
              <button type="button" class="products-btn">Products</button>
              <button type="button" class="made-btn">How it's made</button>
            </div>
          </div>
          <div class="number-li-banner">
            <div class="number-right-side">
              <h3>16</h3>
              <p>cafes</p>
              <span>
                <svg>
                  <use href="./icons.svg#icon-ellipse"></use>
                </svg>
              </span>
            </div>
            <div class="number-right-side">
              <h3>23</h3>
              <p class="food-trucks">food trucks</p>
              <span>
                <svg>
                  <use href="./icons.svg#icon-ellipse"></use>
                </svg>
              </span>
            </div>
          </div>
        </div>
        <div class="ice-cream-banner">
          <img src="./images/ice-cream-background.png" alt="ice-cream-background" class="ice-cream-img" />
        </div>
        <div class="second-list-banner">
          <div class="milk-with-article">
            <div class="splash-milk">
              <img src="./images/splash-milk.png" alt="splash-milk" />
            </div>
            <div class="article-banner">
              <p>
                Indulge in a scoop of ice <br />
                cream made with passion and treat your taste buds to an
                unforgettable experience!
              </p>
              <div class="article-btn">
                <svg class="svg-btn-arrow">
                  <use href="./icons.svg#icon-btn-svg"></use>
                </svg>
              </div>
            </div>
          </div>
          <div class="tasty-reaction">
            <img src="./images/tasty-reaction.png" alt="tasty-reaction" />
          </div>
        </div>
      </div>
      <div class="banner-section-desktop">
        <div class="first-list-banner">
          <div class="title-banner-btns">
            <h1 class="title-banner">
              ice cream <br />made with <br />
              <span>passion</span>
            </h1>
            <div class="btns-banner">
              <button type="button" class="products-btn">Products</button>
              <button type="button" class="made-btn">How it's made</button>
            </div>
          </div>
          <div class="number-li-banner">
            <div class="number-right-side">
              <h3>16</h3>
              <p>cafes</p>
              <span>
                <svg>
                  <use href="./icons.svg#icon-ellipse"></use>
                </svg>
              </span>
            </div>
            <div class="number-right-side">
              <h3>23</h3>
              <p class="food-trucks">food trucks</p>
              <span>
                <svg>
                  <use href="./icons.svg#icon-ellipse"></use>
                </svg>
              </span>
            </div>
          </div>
        </div>
        <div class="ice-cream-banner">
          <img src="./images/ice-cream-background.png" alt="ice-cream-background" class="ice-cream-img" />
        </div>
        <div class="second-list-banner">
          <div class="milk-with-article">
            <div class="splash-milk">
              <img src="./images/splash-milk.png" alt="splash-milk" />
            </div>
            <div class="article-banner">
              <p>
                Indulge in a scoop of ice <br />
                cream made with passion and treat your taste buds to an
                unforgettable experience!
              </p>
              <div class="article-btn">
                <svg class="svg-btn-arrow">
                  <use href="./icons.svg#icon-btn-svg"></use>
                </svg>
              </div>
            </div>
          </div>
          <div class="tasty-reaction">
            <img src="./images/tasty-reaction.png" alt="tasty-reaction" />
          </div>
        </div>
      </div>
    </section>
  </div>
</header>