<!--locations-section-->
<section id="contacts" class="location-section">
    <div class="location-card-section">
        <div class="location-card">
            <div class="location-type">
                <h3>CAFE</h3>
            </div>
            <div class="location-description">
                <h4>Chicago</h4>
                <p>Handcrafted coffee, baked goods, and premium ice cream.</p>
            </div>
            <div class="location-schedule">
                <ul>
                    <li>Monday - Friday</li>
                    <li>06:00 AM - 10:00 PM</li>
                    <li>Saturday - Sunday</li>
                    <li>08:00 AM - 16:00 PM</li>
                </ul>
            </div>
            <div class="location-contact">
                <a href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                <a href="email:noreply@envato.com">noreply@envato.com</a>
            </div>
        </div>

        <div class="location-card">
            <div class="location-type">
                <h3>FOODTRUCK</h3>
            </div>
            <div class="location-description">
                <h4>Los Angeles</h4>
                <p>Fusion cuisine and refreshing ice cream made with passion.</p>
            </div>
            <div class="location-schedule">
                <ul>
                    <li>Monday - Friday</li>
                    <li>06:00 AM - 10:00 PM</li>
                    <li>Saturday - Sunday</li>
                    <li>08:00 AM - 16:00 PM</li>
                </ul>
            </div>
            <div class="location-contact">
                <a href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                <a href="email:noreply@envato.com">noreply@envato.com</a>
            </div>
        </div>
        <div class="location-card">
            <div class="location-type">
                <h3>CAFE</h3>
            </div>
            <div class="location-description">
                <h4>New York</h4>
                <p>
                    Specialty teas, artisanal pastries, mouth-watering ice cream.
                </p>
            </div>
            <div class="location-schedule">
                <ul>
                    <li>Monday - Friday</li>
                    <li>06:00 AM - 10:00 PM</li>
                    <li>Saturday - Sunday</li>
                    <li>08:00 AM - 16:00 PM</li>
                </ul>
            </div>
            <div class="location-contact">
                <a href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                <a href="email:noreply@envato.com">noreply@envato.com</a>
            </div>
        </div>
    </div>
    <div class="location-buttons">
        <button type="button" id="our-locations-button" data-our-locations-modal-open>
            Our Locations
            <svg>
                <use href="/src/icons.svg#icon-button-arrow" data-our-locations-modal-open></use>
            </svg>
        </button>
        <button type="button" id="franchise-button" data-fr-modal-open>
            Franchise
            <svg>
                <use href="/src/icons.svg#icon-button-arrow"></use>
            </svg>
        </button>
    </div>
</section>

<div class="fr-modal is-hidden" data-fr-modal>
    <div class="fr-modal-content">
        <button class="fr-modal-close-btn" data-fr-modal-close>
            &times;
        </button>
        <p>Leave your details and maybe we will call you back</p>
        <div>
            <form class="fr-form-section" id="franchise-form">
                <div class="fr-form-item">
                    <label for="name">
                        <span>Name</span>

                        <input id="name" class="text-input" type="text" name="name" autofocus />
                    </label>
                </div>
                <div class="fr-form-item">
                    <label for="telephone">
                        <span>Number</span>
                        <input id="telephone" class="text-input" type="text" name="telephone" />
                    </label>
                </div>
                <div class="fr-form-item">
                    <label for="email">
                        <span>Email</span>
                        <input id="email" class="text-input" type="text" name="email" />
                    </label>
                </div>
                <div class="fr-form-item">
                    <label for="comments">
                        <span>a few words, my darling</span>
                        <textarea id="comments" class="textarea" name="comments" rows="5"
                            placeholder="Write here.."></textarea>
                    </label>
                </div>
                <div class="fr-form-item">
                    <button type="submit" form="franchise-form">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="our-locations-modal is-hidden" data-our-locations-modal>
    <div class="our-locations-modal-content">
        <button class="our-locations-modal-close-btn" data-our-locations-modal-close>
            &times;
        </button>
        <p>We will be glad to see you</p>
        <p>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1437234.667058865!2d22.98828264673295!3d45.286221981702724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x474cbe3a52dc359d%3A0xd496466d25032225!2sIzvorul%20P%C4%83rintelui%20Arsenie%20Boca!5e0!3m2!1sen!2sro!4v1698959642704!5m2!1sen!2sro"
                width="400" height="300" style="border: 0" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </p>
        <div class="location-details">
            <p>Manastirea Parintelui Arsenie Boca, somewhere in Romania</p>
            <button type="button" class="doamne-ajuta-button">
                <a href="https://www.youtube.com/watch?v=P4DhE4j0iyo" target="_blank">Doamne-ajuta!</a>
            </button>
        </div>
    </div>
</div>